<form [formGroup]="loginForm" (submit)="onLogin()">
  <md-input-container class="container">
    <input mdInput
           placeholder="Email"
           formControlName="userEmail"
           type="email"
           required/>
  </md-input-container>
  <md-input-container class="container">
    <input mdInput
           placeholder="Password"
           formControlName="password"
           type="password"
           required/>
  </md-input-container>

  <div>
    <button type="submit" md-button>Sign in</button>
    <button md-raised-button>Forgot password?</button>
  </div>

</form>
