<form [formGroup]="joinForm" (submit)="onJoin()">
  <md-input-container class="container">
    <input mdInput
           formControlName="userEmail"
           type="email"
           placeholder="Email"
           [(ngModel)]="user.userEmail"
           required>
    <md-hint>
      <div [hidden]="!joinForm.controls.userEmail.touched">
        <span *ngIf="!joinForm.controls.userEmail.valid">{{joinForm.controls.userEmail.errors
          | inputError: ['invalidEmailAddress']}}</span>
      </div>
    </md-hint>
  </md-input-container>

  <md-input-container class="container">
    <input mdInput
           formControlName="userName"
           type="text"
           placeholder="User Name"
           [(ngModel)]="user.userName"
           required>
    <md-hint>
      <div [hidden]="!joinForm.controls.userName.touched">
        <span *ngIf="!joinForm.controls.userName.valid">{{joinForm.controls.userName.errors
          | inputError: ['invalidUserName','invalidLength']}}</span>
      </div>
    </md-hint>
  </md-input-container>

  <md-input-container class="container">
    <input mdInput
           formControlName="password"
           type="password"
           placeholder="Password"
           [(ngModel)]="user.password"
           required>
    <md-hint>
      <div [hidden]="!joinForm.controls.password.touched">
        <span *ngIf="!joinForm.controls.password.valid">{{joinForm.controls.password.errors
          | inputError : ['invalidPassword', 'invalidLength']}}</span>
      </div>
    </md-hint>
  </md-input-container>

  <form [formGroup]="passwordConfirm">
    <md-input-container class="container">
      <input mdInput
             formControlName="passwordConfirm"
             type="password"
             placeholder="Password Retry"
             required>
      <md-hint>
        <div [hidden]="!passwordConfirm.controls.passwordConfirm.touched">
        <span *ngIf="!passwordConfirm.valid">{{passwordConfirm.errors
          | inputError : ['passwordMissMatch']}}</span>
        </div>
      </md-hint>
    </md-input-container>
  </form>
  <p> {{joinForm.valid}}</p>
  <p> {{passwordConfirm.valid}}</p>
  <div>
    <button type="submit" md-raised-button [disabled]="!joinForm.valid && !passwordConfirm.valid">저장</button>
  </div>
</form>


