<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <span>Shooter</span>
  <div class="col d-flex align-items-end flex-column">
    <i [hidden]="!isLogin" class="material-icons" (click)="onProfile()">person</i>
    <div [hidden]="isLogin">
      <a routerLink="/login">Sign in</a>
      <span>or</span>
      <a routerLink="/join">Sign up</a>
    </div>
  </div>
</md-toolbar>

<md-sidenav-container class="fullscreen">
  <!-- Side nav-->
  <md-sidenav #sidenav mode="side">
    <md-nav-list>
      <md-list-item routerLink="dashboard">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <!-- Contents -->
  <div>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
